<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.individualdas">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".preferencias"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:exported="false"
            android:theme="@style/IndividualDAS_appbar_dia" />

        <!--
             Gracias a configChanges se gira cuando la pantalla rota
             SIN que se vuelva a ejecutar onCreate, asi prevenimos posibles
             leaks de memoria
        -->
        <activity
            android:name=".menu_principal"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:exported="false"
            android:theme="@style/IndividualDAS_appbar_dia" />
        <activity
            android:name=".registrarse"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:exported="false"
            android:theme="@style/IndividualDAS_appbar_dia" />
        <activity
            android:name=".login"
            android:configChanges="screenSize|orientation|screenLayout|navigation"
            android:exported="true"
            android:theme="@style/IndividualDAS_appbar_dia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>